---
import AnimatedBackground from "./AnimatedBackground.astro";

interface Props {
	title: string;
	tagline?: string;
	align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
	<div class="stack gap-2">
		<h1 class="title typewriter">{title}</h1>
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
	<slot />
	<AnimatedBackground />
</div>

<script>
	const titles = document.querySelectorAll(".typewriter");
	titles.forEach((title) => {
		const text = title.textContent || "";
		title.textContent = "";
		let i = 0;
		const type = () => {
			if (i < text.length) {
				title.textContent += text.charAt(i);
				i++;
				setTimeout(type, 50); // Speed of typing
			}
		};
		// intersection observer to start typing when visible
		const observer = new IntersectionObserver((entries) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					type();
					observer.unobserve(entry.target);
				}
			});
		});
		observer.observe(title);
	});
</script>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
